/* 1. Selectors */

/* selector { cssProperty: cssValue; } */
/* a.) Element Selector - Selects element based on the name */
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Mukta:wght@300&family=Roboto:ital,wght@0,100;1,300&family=Tektur&display=swap');
body {
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Lumanosimo' , sans-serif;
}
h1 {
    color: rgba(164, 198, 27, 0.922);
}
/* b.) id Selector - Selects the element based on the id. */
#heading-one:hover {

    color: rgb(205, 205, 205);
}
/* c.) class Selector - Selects the elements based on the class name */
/* #para-one, #para-two, #para-four {
    color: gray;
} */
.myPara {
    color: rgb(208, 255, 0);
}
/* d.) Attribute Slector */
/* elementName[attributeName condition] */
/* I want to find the <a> whose href starts with https:// */
/* ^ -> Starts with
$ -> Ends with
* -> contains */
a[href^="https://"] {
    color: rgb(0, 0, 0);
}
a[href$=".jpg"] {
    color: maroon;
}
a[href*="/"] {
    color: rgb(208, 192, 192);
}
img[src^="../"] {
    border: 10px solid gray;
} 
/* e.) Pseudo Selectors */
/* elementName: pseudoProperty { ... } */
ol:first-child {
    color: rgb(227, 218, 218);
}
li:first-child {
    color: rgb(43, 255, 0);
}
.ordered-list-item:last-child {
    color: rgb(0, 232, 0);
}
.unordered-list-item:first-child {
    color: blue;
}
.ordered-list-item:nth-child(3) {
    color: yellow;
}
#container{
    width: 200px;
    height: 200px;
    background-color: aqua;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    border: 5px solid rgb(255, 255, 255);
}
#container-2
{
    width: 200px;
    height: 200px;
    background: aqua;
    background-image: linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet);
    border: 5px solid rgb(255, 255, 255);
}
#container-3{
    
width: 200px;
height: 200px;
background: radial-gradient( red,orange,yellow,green,blue,indigo,violet );
border: 5px solid rgb(255, 255, 255);

}

 